.form {
  display: flex;
  gap: 15px;
  text-align: center;
  justify-content: center;
}

.input {
  border-radius: 8px;
  padding: 12px;
}

.btn {
  background-color: aqua;
  border: 1px solid black;
}
.btn:hover {
  background-color: blue;
  color: wheat;
}
